.myBackground {
    background-color: rgba(255, 255, 255, 0.5);
    color: inherit;
    min-height: 80vh;
    position: relative;
}

.card-right {
    right: 0px;
    top: 0px;
    margin: 1em;
    position: absolute;
}

.bottom {
    position: absolute;
    bottom: 0px;
    right: 0;
    margin: 1em;
}

.mycard {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 53em;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.delete {
    color: darkred;
}

.mybutton {
   right: 0px;
    top: 15em;
position: absolute;
}